*.aux
*.blg
*.log
*.out
*.synctex.gz
*.bbl
*.pyd
*build/
*.xml
*.iml
*__pycache__*
*cmake-build-debug/*
*.so
src/InferModuleSC.cpp
src/venv/*
src/DeepRLModule.py*
src/Result*.txt
ICML2018/_region_.tex
ICML2018/main.pdf